#nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#bar {
    float: left;
}

#bar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

    
#bar a:hover {
    background-color: #111;
}



h1 {
    text-align: center;
    color: darkgreen;
}

img {
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

p {
    color: darkred;
}

#list {
    color: darkred;
}

h2 {
    color: darkred;
}

h3 {
    color: darkgoldenrod;
}